<div class="login_screen">
	<div class="row">
        <div class="col-xl-6 col-md-6">
          <%= link_to root_path do %><span class="back_text"><img src="<%= asset_path('right_arrow.png') %>" alt="right_arrow"> &nbsp;Forgot your password</span><% end %>
        </div>
    </div>
	<div class="row">
      <% if flash[:success] %>
          <div class="success_msg" id=""><%= flash[:success] %></div>
      <% end %>
      <% if flash[:error] %>
          <div class="error_msg" id=""><%= flash[:error] %></div>
      <% end %>
  	</div><br>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  	<div class="form-group">
          	<label for="email">Email</label>
          	<%= f.text_field "email", class: "form-control border_line", maxlength: 50, id: "sign_in_email" %>
          	<span id="sign_in_email_err" class="error-text"></span>
      	</div>

	  	<div class="actions">
	    	<%= f.submit "Send me reset password instructions", class: "btn btn-primary blue_btn" %>
	  	</div>
	<% end %>

	<div class="row">
        <div class="col-xl-6 col-md-6">
          <%= link_to new_session_path(resource_name) do %><span>&nbsp;Log in</span><% end %>
        </div>
        <div class="col-xl-6 col-md-6">
          <%= link_to new_registration_path(resource_name) do %><span>&nbsp;Sign up</span><% end %>
        </div>
    </div>
</div>
