<div class="login_screen">
      <span class="back_text"><img src="<%= asset_path('right_arrow.png') %>" alt="right_arrow"> Login</span>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <%= link_to "Login", new_company_session_path, class: "nav-link active", "data-toggle" => "tab" %>
        </li>
        <li class="nav-item">
            <%= link_to "Sign Up", new_company_registration_path, class: "nav-link" %>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
          <div class="row">
              <% if flash[:success] %>
                  <div class="success_msg" id=""><%= flash[:success] %></div>
              <% end %>
              <% if flash[:error] %>
                  <div class="error_msg" id=""><%= flash[:error] %></div>
              <% end %>
          </div>
          <div role="tabpanel" class="tab-pane fade in active" id="login">
            <%= form_tag company_session_path do %>
              <div class="form-group">
                  <label for="email">Email</label>
                  <%= text_field_tag "email", "", class: "form-control border_line", maxlength: 50, id: "sign_in_email" %>
                  <span id="sign_in_email_err" class="error-text"></span>
              </div>
              <div class="form-group">
                <label for="email">Password</label>
                <%= password_field_tag "password", "", class: "form-control border_line", maxlength: 20, id: "sign_in_password" %>
                <span id="sign_in_password_err" class="error-text"></span>
              </div>
              <%= link_to new_company_password_path do %>
                <span>forgot password</span>
              <% end %>
            <%= submit_tag "Continue", class: "btn btn-primary blue_btn", onclick: "return SignInForm()", id: "sign_in_btn" %>
          <% end %>
        </div>
          <div role="tabpanel" class="tab-pane fade" id="sign_up">
            
          </div>
      </div>
    </div>





<script type="text/javascript">
  function SignInForm() {
      email = $('#sign_in_email').val();
      password = $('#sign_in_password').val();
      
      if(email == null || email == '') {
        $('#sign_in_email_err').html('Email is required')
        $('#sign_in_email').focus();
        return false;
      }else{
          $('#sign_in_email_err').html('')
      }

      if (validateEmail(email)) {
          email_username = email.split('@')[0]
          if (!/^(?=.*[a-zA-Z])[a-zA-Z0-9][ .&()_-\w]*$/.test(email_username)) {
              $('#sign_in_email_err').html('Email Id is invalid');
              $('#sign_in_email').focus();
              return false;
          } else {
              $('#sign_in_email_err').html('')
          }
      }else{
          $('#sign_in_email_err').html('Email Id is invalid')
          $('#sign_in_email').focus();
          return false;
      }
      if(password == null || password == '') {
          $('#sign_in_password_err').html('Password is required');
          $('#sign_in_password').focus();
          return false;
      }else{
          $('#sign_in_password_err').html('')
      }

      if (password.length < 6){
          $('#sign_in_password_err').html('Password should be 6-20 characters');
          $('#sign_in_password').focus();
          return false;
      }else{
          $('#sign_in_password_err').html('')
      }
  }
</script>
