<div class="vehicle_screen">
  	<div class="row bd-bt">
	    <div class="col-xl-6 col-md-6">
	      <%= link_to company_profile_path do %><span class="back_text"><img src="<%= asset_path('right_arrow.png') %>" alt="right_arrow">&nbsp;Edit Organisation</span><% end %>
	    </div>
  	</div><br>
  	<div class="row">
	    <% if flash[:success] %>
	        <div class="success_msg" id=""><%= flash[:success] %></div>
	    <% end %>
	    <% if flash[:error] %>
	        <div class="error_msg" id=""><%= flash[:error] %></div>
	    <% end %>
  	</div>
    <div class="tab-content">
      	<%= form_tag update_company_path, method: :patch do %>
        
         	<div class="form-group">
                <label for="exampleInputName">Company name</label>
                <%= text_field_tag "company_name", current_company.company_name, class: "form-control border_line", maxlength: 30, id: "sign_up_company_name", onkeypress: "return IsAlphaPersonName(event);" %>
                <span id="sign_up_company_name_err" class="error-text"></span>
            </div>
              
              
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <%= text_field_tag "email", current_company.email, class: "form-control border_line", maxlength: 50, id: "sign_up_email", readonly: true %>
                <span id="sign_up_email_err" class="error-text"></span>
            </div>
              
            <div class="form-group">
                <label for="exampleInputLastName">Owner name</label>
                <%= text_field_tag "owner_name", current_company.owner_name, class: "form-control border_line", maxlength: 30, id: "sign_up_owner_name", onkeypress: "return IsAlphaPersonName(event);" %>
                <span id="sign_up_owner_name_err" class="error-text"></span>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Phone Number</label>
                <%= text_field_tag "phone_number", current_company.phone_number, class: "form-control border_line", maxlength: 10, id: "sign_up_phone_number", onkeypress: "return IsNumeric(event);", readonly: true %>
                <span id="sign_up_phone_number_err" class="error-text"></span>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Phone Number2(optional)</label>
                <%= text_field_tag "phone_number2", current_company.phone_number2, class: "form-control border_line", maxlength: 10, id: "sign_up_phone_number2", onkeypress: "return IsNumeric(event);" %>
                <span id="sign_up_phone_number2_err" class="error-text"></span>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Phone Number3(optional)</label>
                <%= text_field_tag "phone_number3", current_company.phone_number3, class: "form-control border_line", maxlength: 10, id: "sign_up_phone_number3", onkeypress: "return IsNumeric(event);" %>
                <span id="sign_up_phone_number3_err" class="error-text"></span>
            </div>

        	<%= submit_tag "Submit", class: "btn btn-primary btn-block", onclick: "return SignUpForm()", id: "new_btn" %>
      	<% end %>
    </div>
</div>

<script type="text/javascript">
    function SignUpForm() {
        company_name = $('#sign_up_company_name').val().trim();
        phone_numbe2 = $('#sign_up_phone_number2').val();
        phone_number3 = $('#sign_up_phone_number3').val();
        owner_name = $('#sign_up_owner_name').val().trim();

        if(company_name == null || company_name == '') {
            $('#sign_up_company_name_err').html('Company Name is required')
            $('#sign_up_company_name').focus();
            return false;
        }else {
            $('#sign_up_company_name_err').html('')
        }

        if (/^([a-zA-Z']+\s){0,4}[a-zA-Z']+$/.test(company_name)){
            $('#sign_up_company_name_err').html('')
        }else {
            $('#sign_up_company_name_err').html('Company Name is invalid')
            $('#sign_up_company_name').focus();
            return false;
        }

        if(owner_name == null || owner_name == '') {
            $('#sign_up_owner_name_err').html('Owner Name is required')
            $('#sign_up_owner_name').focus();
            return false;
        }else{
            $('#sign_up_owner_name_err').html('')
        }

        if (/^([a-zA-Z']+\s){0,4}[a-zA-Z']+$/.test(owner_name)){
            $('#sign_up_owner_name_err').html('')
        }else {
            $('#sign_up_owner_name_err').html('Owner Name is invalid')
            $('#sign_up_owner_name').focus();
            return false;
        }

        if(phone_numbe2 == null || phone_numbe2 == '') {
        }else{
          if(phone_numbe2.length != 10) {
            $('#sign_up_phone_number2_err').html('Phone Number2 should be 10 digit')
            $('#sign_up_phone_number2').focus();
            return false;
          }else{
              $('#sign_up_phone_number2_err').html('')
          }
        }

        if(phone_number3 == null || phone_number3 == '') {
        }else{
          if(phone_number3.length != 10) {
            $('#sign_up_phone_number3_err').html('Phone Number3 should be 10 digit')
            $('#sign_up_phone_number3').focus();
            return false;
          }else{
              $('#sign_up_phone_number3_err').html('')
          }
        }
    }
        
</script>