<div class="login_screen">
	<div class="row bd-bt">
        <div class="col-xl-6 col-md-6">
          <%= link_to new_company_session_path do %><span class="back_text"><img src="<%= asset_path('right_arrow.png') %>" alt="right_arrow"> &nbsp;Forgot Password</span><% end %>
        </div>
    </div>
	<div class="row">
      <% if flash[:success] %>
          <div class="success_msg" id=""><%= flash[:success] %></div>
      <% end %>
      <% if flash[:error] %>
          <div class="error_msg" id=""><%= flash[:error] %></div>
      <% end %>
  	</div><br>

	<%= form_tag company_password_path do %>
	  	<div class="form-group">
          	<label for="email">Email</label>
          	<%= text_field_tag "email", "", class: "form-control border_line", maxlength: 50, id: "reset_password_email" %>
          	<span id="reset_password_email_err" class="error-text"></span>
      	</div>

	  	<div class="actions">
	    	<%= submit_tag "Send reset password link", class: "btn btn-primary blue_btn", onclick: "return NewPasswordForm()" %>
	  	</div>
	<% end %>
</div>


<script type="text/javascript">
  	function NewPasswordForm() {
	      email = $('#reset_password_email').val();
	      
	      if(email == null || email == '') {
	        $('#reset_password_email_err').html('Email is required')
	        $('#reset_password_email').focus();
	        return false;
	      }else{
	          $('#reset_password_email_err').html('')
	      }

	      if (validateEmail(email)) {
	          email_username = email.split('@')[0]
	          if (!/^(?=.*[a-zA-Z])[a-zA-Z0-9][ .&()_-\w]*$/.test(email_username)) {
	              $('#reset_password_email_err').html('Email Id is invalid');
	              $('#reset_password_email').focus();
	              return false;
	          } else {
	              $('#reset_password_email_err').html('')
	          }
	      }else{
	          $('#reset_password_email_err').html('Email Id is invalid')
	          $('#reset_password_email').focus();
	          return false;
	      }
  	}
</script>
