<div class="vehicle_screen">
      <div class="row">
        <div class="col-xl-6 col-md-6">
          <%= link_to root_path do %><span class="back_text"><img src="<%= asset_path('right_arrow.png') %>" alt="right_arrow"> &nbsp;Add Vehicle</span><% end %>
        </div>
        <div class="col-xl-6 col-md-6">
          <!-- <ul class="top_icons">
            <li><img src="<%= asset_path('icons-filter-dark.png') %>" alt="icons-filter-dark"></li>
            <li><img src="<%= asset_path('path.png') %>" alt="path"></li>
          </ul> -->
          <%= link_to destroy_company_session_path, method: :delete do %><img src="<%= asset_path('logout.png') %>" alt="logout" class="logout_btn"><% end %>
        </div>

      </div>
      	<div class="row">
          <% if flash[:success] %>
              <div class="success_msg" id=""><%= flash[:success] %></div>
          <% end %>
          <% if flash[:error] %>
              <div class="error_msg" id=""><%= flash[:error] %></div>
          <% end %>
      	</div>
        <%= form_tag vehicles_path, class: "new_vehicle" do %>
          
          <div class="form-group">
              <label for="exampleInputName">Vehicle name</label>
              <%= text_field_tag "vehicle_name", "", class: "form-control border_line", maxlength: 30, id: "new_vehicle_name", onkeypress: "return IsAlphaPersonName(event);" %>
              <span id="new_vehicle_name_err" class="error-text"></span>
          </div>

          <div class="form-group">
              <label for="exampleInputName">Device Id</label>
              <%= text_field_tag "device_id", "", class: "form-control border_line", maxlength: 15, id: "new_device_id", onkeypress: "return IsNumeric(event);" %>
              <span id="new_device_id_err" class="error-text"></span>
          </div>
          
          <div class="form-group">
              <label for="exampleInputEmail1">Vehicle Number</label>
              <%= text_field_tag "vehicle_number", "", class: "form-control border_line", maxlength: 10, id: "new_vehicle_number", onkeypress: "return IsAlphaNumeric(event);" %>
              <span id="new_vehicle_number_err" class="error-text"></span>
          </div>

          <div class="form-group">
              <label for="exampleInputEmail1">Minimum Voltage Level</label>
              <%= text_field_tag "minimum_voltage", "", class: "form-control border_line", maxlength: 3, id: "new_minimum_voltage", onkeypress: "return IsNumeric(event);" %>
              <span id="new_minimum_voltage_err" class="error-text"></span>
          </div>

          <div class="form-group">
              <label for="exampleInputEmail1">Maximum Voltage Level</label>
              <%= text_field_tag "maximum_voltage", "", class: "form-control border_line", maxlength: 3, id: "new_maximum_voltage", onkeypress: "return IsNumeric(event);" %>
              <span id="new_maximum_voltage_err" class="error-text"></span>
          </div>

          <div class="form-group">
              <label for="exampleInputEmail1">Threshold Voltage Level</label>
              <%= text_field_tag "threshold_voltage", "", class: "form-control border_line", maxlength: 3, id: "new_threshold_voltage", onkeypress: "return IsNumeric(event);" %>
              <span id="new_threshold_voltage_err" class="error-text"></span>
          </div>

          <div class="form-group">
              <label for="exampleInputEmail1">Description(optional)</label>
              <%= text_area_tag "description", "", class: "form-control border_line", style: "resize: none;", maxlength: 10, id: "new_description", onkeypress: "return IsAlphaNumeric(event);" %>
              <span id="new_description_err" class="error-text"></span>
          </div>

        	<div class="form-group">
             <div class="col-sm-3">
                 <label for="email" class="">Is Active</label>
             </div>
             <div class="col-sm-6">
                <%= check_box_tag :active, true, '', class: "toggle" %>
             </div>
          </div>

          <%= submit_tag "Submit", class: "btn btn-primary blue_btn", id: "new_btn", onclick: "return VehicleForm()" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function VehicleForm() {
        vehicle_name = $('#new_vehicle_name').val().trim();
        device_id = $('#new_device_id').val();
        vehicle_number = $('#new_vehicle_number').val();

        if(vehicle_name == null || vehicle_name == '') {
            $('#new_vehicle_name_err').html('Vehicle Name is required')
            $('#new_vehicle_name').focus();
            return false;
        }else {
            $('#new_vehicle_name_err').html('')
        }

        if (/^([a-zA-Z']+\s){0,4}[a-zA-Z']+$/.test(vehicle_name)){
            $('#new_vehicle_name_err').html('')
        }else {
            $('#new_vehicle_name_err').html('Vehicle Name is invalid')
            $('#new_vehicle_name').focus();
            return false;
        }

        if(device_id == null || device_id == '') {
            $('#new_device_id_err').html('Vehicle Device Id is required')
            $('#new_device_id').focus();
            return false;
        }else {
            $('#new_device_id_err').html('')
        }

        if(device_id.length != 15) {
            $('#new_device_id_err').html('Vehicle Device Id should be 15 digit')
            $('#new_device_id').focus();
            return false;
        }else{
            $('#new_device_id_err').html('')
        }

        var val_device_id = parseFloat(device_id);
        if (isNaN(val_device_id) || (val_device_id === 0)) {
          $('#new_device_id_err').html('Vehicle Device Id should not be zero');
          $('#new_device_id').focus();
          return false;
        }else{
            $('#new_device_id_err').html('')
        }

        // if(vehicle_number == null || vehicle_number == '') {
        //     $('#new_vehicle_number_err').html('Vehicle Device Id is required')
        //     $('#new_vehicle_number').focus();
        //     return false;
        // }else {
        //     $('#new_vehicle_number_err').html('')
        // }
        
    }
</script>