<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        width: 100%;
        height: 500px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
     /* #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #floating-panel {
        margin-left: -52px;
      }*/
    </style>

<div class="vehicle_screen">
      <div class="row">
        <div class="col-xl-6 col-md-6">
          <%= link_to root_path do %><span class="back_text"><img src="<%= asset_path('right_arrow.png') %>" alt="right_arrow"> &nbsp;<%= @vehicle.vehicle_name %></span><% end %>
        </div>
        <div class="col-xl-6 col-md-6">
          <!-- <ul class="top_icons">
            <li><img src="<%= asset_path('icons-filter-dark.png') %>" alt="icons-filter-dark"></li>
            <li><img src="<%= asset_path('path.png') %>" alt="path"></li>
          </ul> -->
          <%= link_to destroy_company_session_path, method: :delete do %><img src="<%= asset_path('logout.png') %>" alt="logout" class="logout_btn"><% end %>
        </div>

      </div>
      <div class="row" style="border-top: 1px solid #f3f3f3;">
        <div class="col-xl-6 col-md-6">
          <h5 class="vehicle_no" style="color: #<%= @vehicle.color %>; font-weight: 600"><%= @vehicle.vehicle_number %></h5>
        </div>
        <div class="col-xl-6 col-md-6">
          <ul class="top_icons edit_del_icon">
            <li>
              <%= link_to edit_vehicle_path(@vehicle) do %>
                <img src="<%= asset_path('edit.png') %>" alt="edit">
              <% end %>
            </li>
            <li>
              <button data-id="<%= @vehicle.id %>"  data-vehiclename="<%= @vehicle.vehicle_number %>" class="open-DeleteVehicle" data-toggle="modal" data-target="#DeleteVehicle"><img src="<%= asset_path('delete.png') %>" alt="delete"></button>
            </li>
         </ul>
        </div>
      </div>
      <div id="floating-panel">
        <button id="drop" onclick="drop()" style="display: none;">Drop Markers</button>
      </div>
      <div id="map"></div>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#mins" role="tab" data-toggle="tab"><img src="<%= asset_path('clock-circular-outline.png') %>" alt="clock-circular-outline"> 30 /Min</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#hrs" role="tab" data-toggle="tab">60 /Min</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#time" role="tab" data-toggle="tab">90 /Min</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#hour" role="tab" data-toggle="tab">120 /Min</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <% last_history = @vehicle.vehicle_travel_histories.today_history(date = Vehicle::TODAY_DATE_STRFTIME).last %>
          <div role="tabpanel" class="tab-pane fade in active" id="mins">
            <div class="row vehicle_desc">
              <div class="col-xl-6">
                <span class="fuel"><img src="<%= asset_path('gas-station.png') %>" alt="gas-station">Fuel</span>
                <h5><%= @vehicle.last_30_mins_fuel_Level %> mV</h5>
              </div>
              <div class="col-xl-6">
                <span class="travel"><img src="<%= asset_path('route.png') %>" alt="route">Travel</span>
                <h5><%= @vehicle.last_30_mins_distance_traveled %> Km</h5>
              </div>
            </div>
            <% if last_history.present? %>
              <div class="row vehicle_desc">
                <div class="col-xl-6">
                  <span class="key"><img src="<%= asset_path('car-key.png') %>" alt="car-key">Key</span>
                  <h5><%= last_history.engine %></h5>
                </div>
                <div class="col-xl-6">
                  <span class="vehicle"><img src="<%= asset_path('icon.png') %>" alt="icon">Vehicle</span>
                  <h5><%= last_history.vehicle_status %></h5>
                </div>
              </div>
            <% else %>
              <div class="row vehicle_desc">
                <div class="col-xl-6">
                  <span class="key"><img src="<%= asset_path('car-key.png') %>" alt="car-key">Key</span>
                  <h5>-</h5>
                </div>
                <div class="col-xl-6">
                  <span class="vehicle"><img src="<%= asset_path('icon.png') %>" alt="icon">Vehicle</span>
                  <h5>-</h5>
                </div>
              </div>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="hrs">
            <div class="row vehicle_desc">
              <div class="col-xl-6">
                <span class="fuel"><img src="<%= asset_path('gas-station.png') %>" alt="gas-station">Fuel</span>
                <h5><%= @vehicle.last_60_mins_fuel_Level %> mV</h5>
              </div>
              <div class="col-xl-6">
                <span class="travel"><img src="<%= asset_path('route.png') %>" alt="route">Travel</span>
                <h5><%= @vehicle.last_60_mins_distance_traveled %> Km</h5>
              </div>
            </div>
            <% if last_history.present? %>
              <div class="row vehicle_desc">
                <div class="col-xl-6">
                  <span class="key"><img src="<%= asset_path('car-key.png') %>" alt="car-key">Key</span>
                  <h5><%= last_history.engine %></h5>
                </div>
                <div class="col-xl-6">
                  <span class="vehicle"><img src="<%= asset_path('icon.png') %>" alt="icon">Vehicle</span>
                  <h5><%= last_history.vehicle_status %></h5>
                </div>
              </div>
            <% else %>
              <div class="row vehicle_desc">
                <div class="col-xl-6">
                  <span class="key"><img src="<%= asset_path('car-key.png') %>" alt="car-key">Key</span>
                  <h5>-</h5>
                </div>
                <div class="col-xl-6">
                  <span class="vehicle"><img src="<%= asset_path('icon.png') %>" alt="icon">Vehicle</span>
                  <h5>-</h5>
                </div>
              </div>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="time">
            <div class="row vehicle_desc">
              <div class="col-xl-6">
                <span class="fuel"><img src="<%= asset_path('gas-station.png') %>" alt="gas-station">Fuel</span>
                <h5><%= @vehicle.last_90_mins_fuel_level %> mV</h5>
              </div>
              <div class="col-xl-6">
                <span class="travel"><img src="<%= asset_path('route.png') %>" alt="route">Travel</span>
                <h5><%= @vehicle.last_90_mins_distance_traveled %> Km</h5>
              </div>
            </div>
            <% if last_history.present? %>
              <div class="row vehicle_desc">
                <div class="col-xl-6">
                  <span class="key"><img src="<%= asset_path('car-key.png') %>" alt="car-key">Key</span>
                  <h5><%= last_history.engine %></h5>
                </div>
                <div class="col-xl-6">
                  <span class="vehicle"><img src="<%= asset_path('icon.png') %>" alt="icon">Vehicle</span>
                  <h5><%= last_history.vehicle_status %></h5>
                </div>
              </div>
            <% else %>
              <div class="row vehicle_desc">
                <div class="col-xl-6">
                  <span class="key"><img src="<%= asset_path('car-key.png') %>" alt="car-key">Key</span>
                  <h5>-</h5>
                </div>
                <div class="col-xl-6">
                  <span class="vehicle"><img src="<%= asset_path('icon.png') %>" alt="icon">Vehicle</span>
                  <h5>-</h5>
                </div>
              </div>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="hour">
            <div class="row vehicle_desc">
              <div class="col-xl-6">
                <span class="fuel"><img src="<%= asset_path('gas-station.png') %>" alt="gas-station">Fuel</span>
                <h5><%= @vehicle.last_120_mins_fuel_level %> mV</h5>
              </div>
              <div class="col-xl-6">
                <span class="travel"><img src="<%= asset_path('route.png') %>" alt="route">Travel</span>
                <h5><%= @vehicle.last_120_mins_distance_traveled %> Km</h5>
              </div>
            </div>
            
            <% if last_history.present? %>
              <div class="row vehicle_desc">
                <div class="col-xl-6">
                  <span class="key"><img src="<%= asset_path('car-key.png') %>" alt="car-key">Key</span>
                  <h5><%= last_history.engine %></h5>
                </div>
                <div class="col-xl-6">
                  <span class="vehicle"><img src="<%= asset_path('icon.png') %>" alt="icon">Vehicle</span>
                  <h5><%= last_history.vehicle_status %></h5>
                </div>
              </div>
            <% else %>
              <div class="row vehicle_desc">
                <div class="col-xl-6">
                  <span class="key"><img src="<%= asset_path('car-key.png') %>" alt="car-key">Key</span>
                  <h5>-</h5>
                </div>
                <div class="col-xl-6">
                  <span class="vehicle"><img src="<%= asset_path('icon.png') %>" alt="icon">Vehicle</span>
                  <h5>-</h5>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    </div>

<%= render 'delete_model' %>
<script>
  $(document).on("click", ".open-DeleteVehicle", function () {
         var VehicleId = $(this).data('id');
         var vechileName = $(this).data('vechilename');
         //$(".modal-body #bookId ").val( VehicleId );
         $(".modal-body #VehicleId ").attr("value", VehicleId );
         $(".modal-body #vechileName ").attr("value", vechilename );
    });

    $(document).ready(function() {
        $('#drop').click();
    });
      // If you're adding a number of markers, you may want to drop them on the map
      // consecutively rather than all at once. This example shows how to use
      // window.setTimeout() to space your markers' animation.

      var markers = [];
      var map;

      function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: <%= @vehicle.last_latitude %>, lng: <%= @vehicle.last_longitude %>}
        });
  $.get("/vehicle/"+"<%= @vehicle.id %>"+"/list_histories", function(data){
      var flightPlanCoordinates = data;
      var flightPath = new google.maps.Polyline({
        path: flightPlanCoordinates,
        geodesic: true,
        strokeColor: '#FF0000',
        strokeOpacity: 1.0,
        strokeWeight: 2
      });

      flightPath.setMap(map);
    });
  }

      function drop() {
        $.get("/vehicle/"+"<%= @vehicle.id %>"+"/list_histories", function(data){
          clearMarkers();
          for (var i = 0; i < data.length; i++) {
            if ((data.length - 1) == i){
              addMarkerWithTimeoutLast(data[i], i);
            }
            else if (i == 0) {
              addMarkerWithTimeoutFirst(data[i], i);
            }
            // else{

            //   addMarkerWithTimeout(data[i], i);
            // }
          }
      });
      }


      // This example creates a 2-pixel-wide red polyline showing the path of
// the first trans-Pacific flight between Oakland, CA, and Brisbane,
// Australia which was made by Charles Kingsford Smith.



      function addMarkerWithTimeout(position, timeout) {
        window.setTimeout(function() {
          markers.push(new google.maps.Marker({
            position: position,
            map: map,
            animation: null,
            icon:{
                path: 'M38.25,7a1.433,1.433,0,0,0,.5,1.1V9a.472.472,0,0,0,.5.5h.5a.472.472,0,0,0,.5-.5V8.5h4V9a.472.472,0,0,0,.5.5h.5a.472.472,0,0,0,.5-.5V8.1a1.433,1.433,0,0,0,.5-1.1V2c0-1.75-1.8-2-4-2s-4,.25-4,2ZM40,7.5a.75.75,0,1,1,.75-.75A.769.769,0,0,1,40,7.5Zm4.5,0a.75.75,0,1,1,.75-.75A.769.769,0,0,1,44.5,7.5Zm.75-3h-6V2h6',
                fillColor: '#' + "<%= @vehicle.color %>",
                fillOpacity: 1.0,
                strokeColor: '#000000',
                strokeWeight: 1,
                scale: 2,
                anchor: new google.maps.Point(40, 10),
            }
          }));
        }, timeout);
      }

      function addMarkerWithTimeoutLast(position, timeout) {
        window.setTimeout(function() {
          markers.push(new google.maps.Marker({
            position: position,
            map: map,
            animation: null
          }));
        }, timeout);
      }

      var image = "<%= asset_path('start.png') %>";

      function addMarkerWithTimeoutFirst(position, timeout) {
        window.setTimeout(function() {
          markers.push(new google.maps.Marker({
            position: position,
            map: map,
            animation: null,
            icon: image
          }));
        }, timeout);
      }


      function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(null);
        }
        markers = [];
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= VehicleTracking::Application::GOOGLE_MAP_API_KEY %>&callback=initMap">
    </script>

