<% if current_company.present? %>
  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        width: 100%;
        height: 500px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
     /* #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #floating-panel {
        margin-left: -52px;
      }*/
  </style>

  <style type="text/css">
    body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    }

    label {
    display: inline-block;
    margin-bottom: 0px;
    }

    .sm-mt{
      font-size: 10px;
      margin-bottom: 5px;
    }

    .sm-md{
      font-size: 12px;
    }

    .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 1.25rem;
    width: 240px;
    height: 140px;
    margin: 0 auto;
    -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0), 0 5px 12px 0 rgba(0, 0, 0, 0.09);
    }

    .pd-r{
      padding-right: 0px;
    }

    .pd-l{
      padding-left: 0px;
    }

    .form-group {
    margin-bottom: 5px;
    }
  </style>
	<div class="trip_screen">
      <div class="row">
        <div class="col-xl-6 col-md-6">
          <span class="back_text"><img src="<%= asset_path('right_arrow.png') %>" alt="right_arrow">&nbsp;Vehicles</span>
        </div>
        <div class="col-xl-6 col-md-6">
          <!-- <ul class="top_icons">
            <li><img src="<%= asset_path('icons-filter-dark.png') %>" alt="icons-filter-dark"></li>
            <li><img src="<%= asset_path('path.png') %>" alt="path"></li>
          </ul> -->
          <%= link_to company_profile_path do %><img src="<%= asset_path('profile.png') %>" alt="profile" class="logout_btn"><% end %>
        </div>
      </div>
      <div class="row">
        <% if flash[:success] %>
            <div class="success_msg" id=""><%= flash[:success] %></div>
        <% end %>
        <% if flash[:error] %>
            <div class="error_msg" id=""><%= flash[:error] %></div>
        <% end %>
      </div>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#active" role="tab" data-toggle="tab">Active Vehicle (<%= current_company.vehicles.active.count %>)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#inactive" role="tab" data-toggle="tab">Inactive Vehicle (<%= current_company.vehicles.inactive.count %>)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tab_map" role="tab" data-toggle="tab" id="show_map">Show Map</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="active">
            <% current_company.vehicles.active.each do |vehicle| %>
              <div class="vehicle_list">
                <!-- <div class="date_card">
                  <span>JAN 10</span>
                </div> -->
                <div class="vehicle_card">
                  <div class="header">
                    <div class="row padd_align">
                      <div class="col-xl-6 col-md-6">
                        <h4><%= vehicle.vehicle_name %></h4>
                        <h5><%= vehicle.vehicle_number %></h5>
                      </div>
                      <div class="col-xl-6 col-md-6">
                        <span class="status">Active</span>    
                      <div class="can-toggle demo-rebrand-2">
                          <img src="<%= asset_path('on_btn.png') %>" alt="clock">
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="bottom">
                    <h6><img src="<%= asset_path('id_img.png') %>" alt="id_img"> ID: <%= vehicle.device_id %></h6>
                    <h6 class="pad_top"><img src="<%= asset_path('clock.png') %>" alt="clock"> Last updated time <%= vehicle.last_updated_time %></h6>
                    <div class="row">
                      <div class="col-xl-4 col-md-4">
                        <span class="fuel"><img src="<%= asset_path('gas-station.png') %>" alt="gas-station">Fuel</span>
                        <h5><%= vehicle.last_30_mins_fuel_Level %> mV</h5>
                      </div>
                      <div class="col-xl-4 col-md-4">
                        <span class="travel"><img src="<%= asset_path('route.png') %>" alt="route">Travel</span>
                        <h5><%= vehicle.last_30_mins_distance_traveled %> Km</h5>
                      </div>
                      <div class="col-xl-4 col-md-4">
                        <%= link_to vehicle_path(vehicle) do %>
                          <span class="map_icon" style="background-color: #<%= vehicle.color %>">
                            <img src="<%= asset_path('maps-and-flags.png') %>" alt="maps-and-flags">
                            <h6>Show <img src="<%= asset_path('arrow-point-to-right.png') %>" alt="arrow-point-to-right"></h6>
                          </span>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            
            <%= link_to new_vehicle_path do %><img src="<%= asset_path('plus_icon.png') %>" class="sticky_img"><% end %>
            <!-- 
            <%= link_to "Add vehicle", new_vehicle_path, class: "btn btn-default blue_btn" %> -->
          </div>
          <div role="tabpanel" class="tab-pane fade" id="inactive">
            <% current_company.vehicles.inactive.each do |vehicle| %>
              <div class="vehicle_list">
                <!-- <div class="date_card">
                  <span>JAN 10</span>
                </div> -->
                <div class="vehicle_card">
                  <div class="header">
                    <div class="row padd_align">
                      <div class="col-xl-6 col-md-6">
                        <h4><%= vehicle.vehicle_name %></h4>
                        <h5><%= vehicle.vehicle_number %></h5>
                      </div>
                      <div class="col-xl-6 col-md-6">
                        <span class="status">InActive</span>    
                      <div class="can-toggle demo-rebrand-2">
                          <img src="<%= asset_path('off_btn.png') %>" alt="clock">
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="bottom">
                    <h6><img src="<%= asset_path('id_img.png') %>" alt="id_img"> ID: <%= vehicle.device_id %></h6>
                    <h6 class="pad_top"><img src="<%= asset_path('clock.png') %>" alt="clock"> Last updated time <%= vehicle.last_updated_time %></h6>
                    <div class="row">
                      <div class="col-xl-4 col-md-4">
                        <span class="fuel"><img src="<%= asset_path('gas-station.png') %>" alt="gas-station">Fuel</span>
                        <h5><%= vehicle.last_30_mins_fuel_Level %> mV</h5>
                      </div>
                      <div class="col-xl-4 col-md-4">
                        <span class="travel"><img src="<%= asset_path('route.png') %>" alt="route">Travel</span>
                        <h5><%= vehicle.last_30_mins_distance_traveled %> Km</h5>
                      </div>
                      <div class="col-xl-4 col-md-4">
                        <%= link_to vehicle_path(vehicle) do %>
                          <span class="map_icon" style="background-color: #<%= vehicle.color %>">
                            <img src="<%= asset_path('maps-and-flags.png') %>" alt="maps-and-flags">
                            <h6>Show <img src="<%= asset_path('arrow-point-to-right.png') %>" alt="arrow-point-to-right"></h6>
                          </span>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tab_map">
            <div id="floating-panel">
              <button id="drop" onclick="drop()" style="display: none;">Show Map</button>
            </div>
            <div id="map"></div>
           <!--  <div id="floating-panel">
              <button id="drop" onclick="drop()">Show Map</button>
            </div> -->
            
          </div>
      </div>
    </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#show_map').click(function(e) {  
        $('#drop').click();
      });
    });

    var markers = [];
        var map;

        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: {lat: <%= current_company.last_latitude %>, lng: <%= current_company.last_longitude %>}
          });
        }

        function drop() {
          $.get("/list_vehicles", function(data){
            clearMarkers();
            for (var i = 0; i < data.length; i++) {
              color = data[i].color
              name = data[i].vehicle_name
              device_id = data[i].device_id
              last_updated_time = data[i].last_updated_time
              histories = data[i].histories
              if (histories !== null || histories !== ""){
                // for(var j = 0; j < histories.length; j++) {
                 addMarkerWithTimeout(histories, 0, color, name, device_id, last_updated_time);
                // }
              }
            }
        });
        }

        function addMarkerWithTimeout(position, timeout, color, name, device_id, last_updated_time) {
          window.setTimeout(function() {
            var marker = new google.maps.Marker({
              position: position,
              map: map,
              animation: null,
              title: name,
              icon:{
                  path: 'M38.25,7a1.433,1.433,0,0,0,.5,1.1V9a.472.472,0,0,0,.5.5h.5a.472.472,0,0,0,.5-.5V8.5h4V9a.472.472,0,0,0,.5.5h.5a.472.472,0,0,0,.5-.5V8.1a1.433,1.433,0,0,0,.5-1.1V2c0-1.75-1.8-2-4-2s-4,.25-4,2ZM40,7.5a.75.75,0,1,1,.75-.75A.769.769,0,0,1,40,7.5Zm4.5,0a.75.75,0,1,1,.75-.75A.769.769,0,0,1,44.5,7.5Zm.75-3h-6V2h6Z',
                  fillColor: '#' + color,
                  fillOpacity: 1.0,
                  strokeColor: '#000000',
                  strokeWeight: 1,
                  scale: 2,
                  anchor: new google.maps.Point(40, 10),
              }
            })
            markers.push(marker);
            var content = "<div class='container'><div class='row'><div class='card'><div class='card-body'><form><div class='row'><div class='col pd-r'><div><label>"+name+"</label></div></div><div class='col pd-l'><label class='text-muted sm-mt'>" + device_id + "</label></div></div></form><form><div class='row'><div class='col pd-r'><div><div class='form-group'><img src='" + "<%= asset_path('gas-station.png') %>" + "' class=''><label class='sm-mt text-muted'>&ensp;Fuel</label></div></div></div><div class='col pd-l'><div class='form-group'><img src='"+ "<%= asset_path('route1.png') %>" + "'><label class='sm-mt text-muted'>&ensp;Travel</label></div></div></div></form><form><div class='row'><div class='col pd-r'><h6 class='card-title'><b>15 Ltr</b></h6></div><div class='col pd-l'><h6 class='card-title'><b>30 Km</b></h6></div></div></form><form><div class='row'><div class='col'><label class='card-subtitle text-muted sm-md'>Last Updated Time - "+ last_updated_time+ "</label></div></div></form></div></div></div></div>"     

            var infowindow = new google.maps.InfoWindow()

            google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
                return function() {
                    infowindow.setContent(content);
                    infowindow.open(map,marker);
                    google.maps.event.addListener(map,'click', function(){ 
                        infowindow.close();
                    }); 
                };
            })(marker,content,infowindow)); 
          }, timeout);

        }

        function clearMarkers() {
          for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
          }
          markers = [];
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmG3jBad2HLmPLgcTDLqH55a3aCEQ7ZQk&callback=initMap">
      </script>

  </script>
<% else %>
  <img src="<%= asset_path('home.png') %>" class="splash_img">
  <script type="text/javascript">
  function delayedRedirect(){
      window.location = "<%= new_company_session_path %>"
  }
  </script>
  <body onLoad="setTimeout('delayedRedirect()', 3000)">
<% end %>

